<html xmlns:th="http://thymeleaf.org">
<head>
  <title>Online Bank</title>
  <link rel="stylesheet" href="/css/transactions.css"/>
</head>
<body>
<h1>Transaction ID: [[${transactionsIndividual.id}]] <span th:text="${transactionsIndividual.type == 'C'}? '(Credit)':'(Debt)'"> </span> </h1>
<div>

</div>
<div>Data: <span th:text="${transactionsIndividual.date}"></span></div>
<div>Amount: <span th:text="${transactionsIndividual.amount}"></span></div>
<div>Description: <span th:text="${transactionsIndividual.description}"></span></div>

<div>
  <a href="/transactions" >back</a>
</div>

</body>
</html>